In [1]:
from __future__ import print_function, division
import pandas as pd

In [2]:
from __future__ import print_function, division
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from __future__ import print_function, division
import numpy as np

In [4]:
geneva_listings = pd.read_csv('../data/zurich/listings.csv')
geneva_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,73282,"Clean, central, quiet",377532,Simona,Kreis 3,Sihlfeld,47.37374,8.51957,Entire home/apt,100,3,49,2019-04-27,0.46,1,85
1,143821,marvelous LOFT in SIHLCITY Zürich,697307,Erhan,Kreis 3,Alt-Wiedikon,47.35724,8.52304,Entire home/apt,200,3,0,NaN,NaN,1,362
2,178448,"a lovely place, top location",854016,Delphine,Kreis 2,Enge,47.36565,8.52753,Private room,60,5,9,2016-05-10,0.08,1,187
3,204586,very nice luxury city apartment,1004816,Aicha,Kreis 10,Höngg,47.40656,8.48465,Private room,200,3,0,NaN,NaN,1,364
4,216395,"city studio, modern meets colonial",1116961,Fabio,Kreis 3,Sihlfeld,47.37880,8.50766,Entire home/apt,210,1,0,NaN,NaN,1,365

In [5]:
geneva_listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [6]:
grouped = geneva_listings.groupby('neighbourhood').mean()
grouped.head()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,
Affoltern,2.530614e+07,7.233658e+07,47.418368,8.511210,99.500000,6.533333,12.666667,0.555909,2.033333,181.433333
Albisrieden,3.253189e+07,6.798631e+07,47.373200,8.490984,208.047619,4.357143,25.642857,0.917037,23.190476,185.714286
Alt-Wiedikon,2.516104e+07,6.027357e+07,47.363774,8.519198,109.504762,3.828571,41.104762,1.266237,13.971429,193.552381
Altstetten,2.562283e+07,7.306916e+07,47.387520,8.490930,231.773109,10.932773,14.260504,0.558276,25.756303,193.126050
City,2.699373e+07,5.799781e+07,47.372992,8.535166,312.000000,3.380952,15.809524,0.596000,33.285714,299.000000

In [7]:
grouped.columns

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [8]:
df = grouped[['price', 'minimum_nights','number_of_reviews']]
df['minimum_nights']= df[['minimum_nights']].apply(lambda x: x.round(0))
df['number_of_reviews']= df[['number_of_reviews']].apply(lambda x: x.round(0))
df['price']= df[['price']].apply(lambda x: x.round(2))
df

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                       price  minimum_nights  number_of_reviews
neighbourhood
Affoltern              99.50             7.0               13.0
Albisrieden           208.05             4.0               26.0
Alt-Wiedikon          109.50             4.0               41.0
Altstetten            231.77            11.0               14.0
City                  312.00             3.0               16.0
Enge                  260.75             6.0               17.0
Escher Wyss           159.59             3.0               14.0
Fluntern              153.75             9.0               15.0
Friesenberg           344.33             7.0               17.0
Gewerbeschule          96.39             5.0               32.0
Hard                  278.16             8.0               30.0
Hirslanden            121.27            12.0               18.0
Hirzenbach             82.14             3.0               17.0
Hochschulen           296.00             4.0               23.0
Hottingen             120.74             4.0               26.0
Höngg                 123.00             8.0               23.0
Langstrasse           156.54            10.0               20.0
Leimbach               57.50             2.0                6.0
Lindenhof             339.02             6.0               26.0
Mühlebach             127.34             7.0               46.0
Oberstrass            115.85            18.0               31.0
Oerlikon              159.60             9.0               16.0
Rathaus               187.52             5.0               66.0
Saatlen               107.80            77.0                6.0
Schwamendingen-Mitte   70.77             5.0                6.0
Seebach               112.04             4.0               13.0
Seefeld               175.89             4.0               21.0
Sihlfeld              123.34             8.0               20.0
Unterstrass           158.10            10.0               14.0
Weinegg               143.83             3.0               26.0
Werd                  128.73             3.0               33.0
Wipkingen              97.82             8.0               33.0
Witikon               122.27             6.0               21.0
Wollishofen           152.03             5.0               22.0

In [9]:
df.to_csv('listings-filtered.csv')